
<h1>This is Quiz #1</h1>
<h2>Look at me, I'm coding a webpage!</h2>

<h1>The date and time is now...

<%= DateTime.now.strftime "%A, %m/%d/%Y %H:%M %p %Z" %>

</h1>

<br />
<h2> Look at a list of some peoples' first car...</h2>
<button><%= link_to '<button type="button">Others\' First Car</button>'.html_safe, cars_path %></button>
<button><%= link_to '<button type="button">Add my Car</button'.html_safe, new_car_path %> </button>

