@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import 'bootstrap';


h1, h2 {
font-family: 'Gloria Hallelujah', cursive;
color: #6600cc;
text-align: center;
}

button {
  text-align: center;
  display: block;
  margin: auto;
}